h1{
    color:crimson;
}
body{
    background-color:rgb(255, 255, 000);
}
p{
    font-size:xx-large;
    color: rgb(98, 190, 74);
    background-color: rgb(198, 218, 85);
}
button{
    color:whitesmoke;
    background-color: red;
}